In [1]:
import pymysql

In [2]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'opeyemi'
)
mycursor = mydb.cursor()

In [3]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('earlycodeacademy',)
('earlycodeacademy2',)
('employee_system',)
('information_schema',)
('j_waec_system',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [4]:
##as a newly employed developer, our first task is to deveelop a student management system 
##capable of accepting, searching, updating, displaying and archiving student's records.

In [5]:
mycursor.execute('create database prime_academy')
for x in mycursor:
    print(x)

In [6]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('earlycodeacademy',)
('earlycodeacademy2',)
('employee_system',)
('information_schema',)
('j_waec_system',)
('mysql',)
('performance_schema',)
('prime_academy',)
('sakila',)
('sys',)
('world',)

In [8]:
##id,studentname,age,gender,dateofbirth,address,guardian,guardiancontact

In [2]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'opeyemi',
    database = 'prime_academy'
)
mycursor = mydb.cursor()

In [13]:
mycursor.execute('create table students ( ID int primary key not null, NAME varchar(225) not null, AGE int not null, GENDER varchar(50) not null, Dateofbirth date not null, ADDRESS text not null, GUARDIAN varchar(255) not null, GUARDIANCONTACT varchar(50) not null)')
mycursor.execute('show columns from students')
for x in mycursor:
    print(x)

OperationalError: (1050, "Table 'students' already exists")

In [14]:
mycursor.execute('show columns from students')
for x in mycursor:
    print(x)

('ID', 'int', 'NO', 'PRI', None, '')
('NAME', 'varchar(225)', 'NO', '', None, '')
('AGE', 'int', 'NO', '', None, '')
('GENDER', 'varchar(50)', 'NO', '', None, '')
('Dateofbirth', 'date', 'NO', '', None, '')
('ADDRESS', 'text', 'NO', '', None, '')
('GUARDIAN', 'varchar(255)', 'NO', '', None, '')
('GUARDIANCONTACT', 'varchar(50)', 'NO', '', None, '')

In [22]:
def acceptrecord():
    ID = int(input('ENTER STUDENT ID: '))
    NAME = input('ENTER STUDENT NAME:')
    AGE = int(input('ENTER STUDENT AGE:'))
    GENDER = input('ENTER STUDENT GENDER (male,female,other):')
    Dateofbirth = input('ENTER DATE OF BIRTH (YYYY-MM-DD): ')
    ADDRESS = input('ENTER STUDENT ADDRESS:')
    GUARDIAN = input('ENTER GUARDIAN NAME: ')
    GUARDIANCONTACT = input('ENTER GUARDIAN CONTACT:')
    
    query = 'insert into students(ID,NAME,AGE,GENDER,Dateofbirth,ADDRESS,GUARDIAN,GUARDIANCONTACT) values(%s,%s,%s,%s,%s,%s,%s,%s)'
    mycursor.execute(query,(ID,NAME,AGE,GENDER,Dateofbirth,ADDRESS,GUARDIAN,GUARDIANCONTACT))
    mydb.commit()
    print('RECORD INSERTED SUCCESSFULLY...')
    
def search_records():
    ID = int(input('ENTER Search ID: '))
    query = "select * from students where ID = %s"
    mycursor.execute(query,(id,))
    result = mycursor.fetchall()
    if len(result) == 0:
        print('Record not found')
    else:
        for x in result:
            print(x)
            
def display_records():
    mycursor.execute('select * from students')
    for x in mycursor:
        print(x)
        
def update_records():
    ID = int(input('ENTER student ID: '))
    column = input('enter the column u want to be updated:')
    newval = input('enter the new value:')
    query = f'update students set {column} = %s where ID = %s'
    mycursor.execute(query,(newval,id))
    mydb.commit()
    print('record update successful')

def archive_records():
    ID = int(input('ENTER ID TO BE DELETED: '))
    query = 'delete from students where id = %s'
    mycursor.execute(query,(id,))
    mydb.commit()
    print('record achived successfully....')
    
def main():
    print('WELCOME ADMIN')
    print('operation list [Accept,display,search,update,archive, logout]')
    operation = True
    while operation:
        option = input('select Operation: ')
        if option == 'Accept'.lower():
            acceptrecord()
        elif option == 'display'.lower():
            display_records()
        elif option == 'search'.lower():
            search_records()
        elif option == 'update'.lower():
            update_records()
        elif option == 'archive'.lower():
            archive_records()
        elif option == 'logout'.lower():
            operation = False
            print('OPERATION TERMINATED......')
            break

In [ ]:
main()

WELCOME ADMIN
operation list [Accept,display,search,update,archive, logout]
select Operation: search
ENTER Search ID: 1
Record not found
select Operation: search
ENTER Search ID: 2
Record not found