In [23]:
stock = {}

def add_item(item_id,name,quantity):
    if item_id not in stock:
        stock[item_id] = {'name':name, 'quantity':quantity}
        print(f'Item {name} added to stock with ID {item_id}')
    else:
        print(f'Item with ID {item_id} already exists, use update_item to modify.')
def search_item(item_id):
    if item_id in stock:
        item = stock[item_id]
        print(f"item ID: {item_id}, Name: {item['name']},Quantity: {item['quantity']}")
    else:
        print(f"Item with ID {item_id} not found in stock.")
def delete_item(item_id):
    if item_id in stock:
        del(stock[item_id])
        print(f"item with ID {item_id} deleted from stock.")
    else:
        print(f'item with ID {item_id} not found in stock.')
def display_stock():
    print('\n CURRENT STOCK:')
    for item_id,item in stock.items():
        print(f"Items ID:{item_id}, Name:{item['name']}, Quantity: {item['quantity']}")
        
        
def update_item(item_id):
        
add_item(item_id = 1, name = 'fruits', quantity = 29)
add_item(item_id = 2, name = 'books', quantity = 28)
add_item(item_id = 3, name = 'electronics', quantity = 30)
add_item(101,'Good Mama 50kg Rice', 25)
add_item(102,'Golden penny spaghetti', 50)
add_item(103,'Good Mama 25kg Rice', 100)
add_item(104,'Good Mama 10kg Rice', 250)
add_item(105,'COKE', 250)
add_item(106,'FANTA', 280)
add_item(108, 'PEPSI', 300)

Item fruits added to stock with ID 1
Item books added to stock with ID 2
Item electronics added to stock with ID 3
Item Good Mama 50kg Rice added to stock with ID 101
Item Golden penny spaghetti added to stock with ID 102
Item Good Mama 25kg Rice added to stock with ID 103
Item Good Mama 10kg Rice added to stock with ID 104
Item COKE added to stock with ID 105
Item FANTA added to stock with ID 106
Item PEPSI added to stock with ID 108

In [24]:
search_item(108)

item ID: 108, Name: PEPSI,Quantity: 300

In [25]:
display_stock()

 CURRENT STOCK:
Items ID:1, Name:fruits, Quantity: 29
Items ID:2, Name:books, Quantity: 28
Items ID:3, Name:electronics, Quantity: 30
Items ID:101, Name:Good Mama 50kg Rice, Quantity: 25
Items ID:102, Name:Golden penny spaghetti, Quantity: 50
Items ID:103, Name:Good Mama 25kg Rice, Quantity: 100
Items ID:104, Name:Good Mama 10kg Rice, Quantity: 250
Items ID:105, Name:COKE, Quantity: 250
Items ID:106, Name:FANTA, Quantity: 280
Items ID:108, Name:PEPSI, Quantity: 300

In [26]:
search_item(106)

item ID: 106, Name: FANTA,Quantity: 280

In [28]:
delete_item(1)
delete_item(2)
delete_item(3)

item with ID 1 deleted from stock.
item with ID 2 deleted from stock.
item with ID 3 deleted from stock.

In [29]:
stock

{101: {'name': 'Good Mama 50kg Rice', 'quantity': 25},
 102: {'name': 'Golden penny spaghetti', 'quantity': 50},
 103: {'name': 'Good Mama 25kg Rice', 'quantity': 100},
 104: {'name': 'Good Mama 10kg Rice', 'quantity': 250},
 105: {'name': 'COKE', 'quantity': 250},
 106: {'name': 'FANTA', 'quantity': 280},
 108: {'name': 'PEPSI', 'quantity': 300}}

In [30]:
display_stock()

 CURRENT STOCK:
Items ID:101, Name:Good Mama 50kg Rice, Quantity: 25
Items ID:102, Name:Golden penny spaghetti, Quantity: 50
Items ID:103, Name:Good Mama 25kg Rice, Quantity: 100
Items ID:104, Name:Good Mama 10kg Rice, Quantity: 250
Items ID:105, Name:COKE, Quantity: 250
Items ID:106, Name:FANTA, Quantity: 280
Items ID:108, Name:PEPSI, Quantity: 300

In [31]:
##lambda function it is an anynomous function that cannot be reused:can only be used once
(lambda x,y: x+y)(78,52)
##u cannot use the print function while using this fuction

130

In [32]:
##lambda fuction to check if a user's name is in upper case
##expressions come first whike using the function
##it can only take the if/else condition, it wont take only if without else and elif function
(lambda name: f'{name} is in upper case' if name == name.upper() else f'{name} not in upper case')(input('ENTER YOUR NAME: '))

ENTER YOUR NAME: OPEYEMI

'OPEYEMI is in upper case'

In [33]:
##map:map is used for modification of sequence like string, tuple and list where the lambda fuction carries the 
##operation and the final outcome is returned as a list or tuple
language_name = ['python', 'c++','java', 'php','go','ruby', 'perl','rust','julia','cobol']
finaloutcome = list(map(lambda x:x.upper(),language_name))
print(finaloutcome)

['PYTHON', 'C++', 'JAVA', 'PHP', 'GO', 'RUBY', 'PERL', 'RUST', 'JULIA', 'COBOL']

In [34]:
language_name1 = ['python', 'c++','java', 'php','go','ruby', 'perl','rust','julia','cobol']
finaloutcome1 = tuple(map(lambda x:x.upper(),language_name1))
print(finaloutcome1)

('PYTHON', 'C++', 'JAVA', 'PHP', 'GO', 'RUBY', 'PERL', 'RUST', 'JULIA', 'COBOL')

In [36]:
##filter:filter is used for selection of sequence like string, tuple and list where the lambda fuction carries the 
##operation and the final outcome is returned as a list or tuple
finaloutcome2 = list(filter(lambda x:x.startswith('R'),finaloutcome))
print(finaloutcome2)

['RUBY', 'RUST']

In [37]:
##exercise
##from the sequence below, find the even and odd numbers seprateed into different list
numbers = []
import random
for i in range(1,51):
    num = random.randint(14,89)
    numbers.append(num)

In [38]:
print(numbers)

[55, 20, 65, 71, 47, 23, 63, 76, 55, 79, 23, 69, 52, 28, 36, 34, 15, 83, 61, 87, 37, 59, 17, 47, 85, 32, 82, 45, 36, 45, 74, 69, 19, 85, 40, 35, 71, 88, 77, 87, 55, 31, 14, 77, 22, 61, 32, 38, 89, 32]

In [43]:
even = list(filter(lambda x:x%2==0,numbers))
odd = list(filter(lambda x:x%2==1,numbers))

In [44]:
print(even)

[20, 76, 52, 28, 36, 34, 32, 82, 36, 74, 40, 88, 14, 22, 32, 38, 32]

In [45]:
print(odd)

[55, 65, 71, 47, 23, 63, 55, 79, 23, 69, 15, 83, 61, 87, 37, 59, 17, 47, 85, 45, 45, 69, 19, 85, 35, 71, 77, 87, 55, 31, 77, 61, 89]