In [1]:
##tuple its unchangeable
##tuple must be ordered
##tuple is denoted with ()
##tuple ia an advanced data type that we can assign to a variable
##indexing in python start with 0 from the front and -1 from the back
##count function counts the number of occurence in a tuple
##index checks the location of a value in a tuple
##list is the 2nd iterable object but the difference is that it can be changed

In [2]:
number = (14,15,65,60,23,25,85,60,45)

In [4]:
print(type(number))

<class 'tuple'>

In [5]:
print(len(number))

9

In [7]:
print(number[5])

25

In [10]:
print(number[-4])

25

In [13]:
print(number[2:7])

(65, 60, 23, 25, 85)

In [14]:
print(100 in number)

False

In [15]:
print(number.count(60))

2

In [18]:
print(number.index(85))

6

In [19]:
##list is denoted with a [] instead of a ()

In [20]:
shopA= ['Apple','Bucket','Strawberry','Lemon','Banana']

In [21]:
##add a new value to my list using append function at d end of the list

In [22]:
shopA.append('Orange')
print(shopA)

['Apple', 'Bucket', 'Strawberry', 'Lemon', 'Banana', 'Orange']

In [23]:
shopA.append('Lime')
print(shopA)

['Apple', 'Bucket', 'Strawberry', 'Lemon', 'Banana', 'Orange', 'Lime']

In [24]:
shopA.append('Avocado')
print(shopA)

['Apple', 'Bucket', 'Strawberry', 'Lemon', 'Banana', 'Orange', 'Lime', 'Avocado']

In [25]:
##insert function specifies intended location

In [28]:
shopA.insert(2,'Plantain')
print(shopA)

['Apple', 'Bucket', 'Plantain', 'Plantain', 'Plantain', 'Strawberry', 'Lemon', 'Banana', 'Orange', 'Lime', 'Avocado']

In [29]:
shopA.insert(3,'Maize')
print(shopA)

['Apple', 'Bucket', 'Plantain', 'Maize', 'Plantain', 'Plantain', 'Strawberry', 'Lemon', 'Banana', 'Orange', 'Lime', 'Avocado']

In [30]:
##extend moving a list to another list

In [31]:
shopB= ['Goat','Cow','Dog']
shopA.extend(shopB)
print(shopA)

['Apple', 'Bucket', 'Plantain', 'Maize', 'Plantain', 'Plantain', 'Strawberry', 'Lemon', 'Banana', 'Orange', 'Lime', 'Avocado', 'Goat', 'Cow', 'Dog']

In [32]:
##pop and remove

In [33]:
shopA.pop(3)
print(shopA)

['Apple', 'Bucket', 'Plantain', 'Plantain', 'Plantain', 'Strawberry', 'Lemon', 'Banana', 'Orange', 'Lime', 'Avocado', 'Goat', 'Cow', 'Dog']

In [38]:
shopA.remove('Plantain')
print(shopA)

['Apple', 'Bucket', 'Plantain', 'Plantain', 'Strawberry', 'Lemon', 'Banana', 'Orange', 'Lime', 'Avocado', 'Goat', 'Cow', 'Dog']

In [39]:
##sort function is to arrange value in ascending order

In [40]:
shopA.sort()
print(shopA)

['Apple', 'Avocado', 'Banana', 'Bucket', 'Cow', 'Dog', 'Goat', 'Lemon', 'Lime', 'Orange', 'Plantain', 'Plantain', 'Strawberry']

In [41]:
##reverse arranges in descending order

In [42]:
shopA.reverse()
print(shopA)

['Strawberry', 'Plantain', 'Plantain', 'Orange', 'Lime', 'Lemon', 'Goat', 'Dog', 'Cow', 'Bucket', 'Banana', 'Avocado', 'Apple']

In [43]:
##copy,clear and delete are functions left
##copy makes a duplicate of my list
shopC = shopA.copy()
print(shopC)

['Strawberry', 'Plantain', 'Plantain', 'Orange', 'Lime', 'Lemon', 'Goat', 'Dog', 'Cow', 'Bucket', 'Banana', 'Avocado', 'Apple']

In [44]:
##clear empties the values in the 
shopC.clear()
print(shopC)

[]

In [45]:
##delete 
del(shopC)
print(shopC)

NameError: name 'shopC' is not defined

In [46]:
##dictionary is our last iterable object for today, we use a coli bracket for dictionary
##must create with a pair of key and values

In [51]:
records = {
    'Name':'Fatima',
    'Age':45,
    'Gender':'Female',
    'Height':1.56,
    'Weight':60.5
}
print(records['Height'])

1.56

records['Address'] = 'No 25 Highway Street'
print(records)

In [52]:
records['Address'] = 'No 25 Highway Street'
print(records)

{'Name': 'Fatima', 'Age': 45, 'Gender': 'Female', 'Height': 1.56, 'Weight': 60.5, 'Address': 'No 25 Highway Street'}

In [53]:
newval = {'Height':1.66}
records.update(newval)
print(records)

{'Name': 'Fatima', 'Age': 45, 'Gender': 'Female', 'Height': 1.66, 'Weight': 60.5, 'Address': 'No 25 Highway Street'}

In [54]:
##delete from dictionary
##popitem deletes last pair of key and value
##pop deletes specific key and value

In [55]:
records.popitem()
print(records)

{'Name': 'Fatima', 'Age': 45, 'Gender': 'Female', 'Height': 1.66, 'Weight': 60.5}

In [56]:
records.pop('Age')
print(records)

{'Name': 'Fatima', 'Gender': 'Female', 'Height': 1.66, 'Weight': 60.5}

In [57]:
print(records.keys())

dict_keys(['Name', 'Gender', 'Height', 'Weight'])

In [58]:
print(records.values())

dict_values(['Fatima', 'Female', 1.66, 60.5])

In [59]:
print(records.items())

dict_items([('Name', 'Fatima'), ('Gender', 'Female'), ('Height', 1.66), ('Weight', 60.5)])

In [60]:
##dictionaries with list

In [65]:
records = {
    'Name':['Ade','Bisi','James']   
}
print(records['Name'][1])

Bisi