In [11]:
number = [1,2,3,4,5]
print(number)
number.append(6)
print(number)
print(len(number))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
6

In [4]:
fruits = ['apple','banana','cashew','mango','orange']
print(fruits)
fruits.remove('cashew')
print(fruits)

['apple', 'banana', 'cashew', 'mango', 'orange']
['apple', 'banana', 'mango', 'orange']

In [5]:
print('cashew' in fruits)

False

In [15]:
max(number)

6

In [16]:
min(number)

1

In [17]:
name = ['opeyemi','john','samuel','ifeanyi','luper']
print(name)

['opeyemi', 'john', 'samuel', 'ifeanyi', 'luper']

In [20]:
name.sort()
print(name)

['ifeanyi', 'john', 'luper', 'opeyemi', 'samuel']

In [21]:
animals=['dog','cow','cat','sheep','elephant','ant','dog','cat','sheep']
print(animals)

['dog', 'cow', 'cat', 'sheep', 'elephant', 'ant', 'dog', 'cat', 'sheep']

In [22]:
set(animals)

{'ant', 'cat', 'cow', 'dog', 'elephant', 'sheep'}

In [23]:
animals.reverse()
print(animals)

['sheep', 'cat', 'dog', 'ant', 'elephant', 'sheep', 'cat', 'cow', 'dog']

In [24]:
animals.extend(fruits)
print(animals)

['sheep', 'cat', 'dog', 'ant', 'elephant', 'sheep', 'cat', 'cow', 'dog', 'apple', 'banana', 'mango', 'orange']

In [27]:
for animal in animals:
    print(animal)

sheep
cat
dog
ant
elephant
sheep
cat
cow
dog
apple
banana
mango
orange

In [31]:
[print(animal + ' i like') for animal in animals]

sheep i like
cat i like
dog i like
ant i like
elephant i like
sheep i like
cat i like
cow i like
dog i like
apple i like
banana i like
mango i like
orange i like

[None, None, None, None, None, None, None, None, None, None, None, None, None]

In [32]:
##tuple
num = (1,2,3)
print(type(num))

<class 'tuple'>

In [34]:
##accessing the second element
print(num[1])

2

In [36]:
##no, ##tuples cannot be changed, added to or removed from once it has been created.
##concatenate two tuples.

In [38]:
language_1 = ('english','yoruba')
language_2 = ('igbo','hausa','spanish')
language = language_1 + language_2 
print(language)

('english', 'yoruba', 'igbo', 'hausa', 'spanish')

In [40]:
num_2 = (12,13,14,15,16,17,18,19,10)
print(num_2)
print(num_2.index(16))

(12, 13, 14, 15, 16, 17, 18, 19, 10)
4

In [44]:
##converting tuple to list
num_3=list(num)
print(num_3)
print(type(num_3))

[1, 2, 3]
<class 'list'>

In [46]:
num_4 =(2,3,4,5,6,2,3,7,9,4,6,2,2,8,5)
print(num_4)
print(num_4.count(2))

(2, 3, 4, 5, 6, 2, 3, 7, 9, 4, 6, 2, 2, 8, 5)
4

In [47]:
a,b,*c = num_4 
print(a)
print(b)
print(c)

2
3
[4, 5, 6, 2, 3, 7, 9, 4, 6, 2, 2, 8, 5]

In [51]:
##tuple with different data types
data_types = (12,'cow',15.0,)
print(data_types)

(12, 'cow', 15.0)

In [52]:
print(8 in num_4)

True

In [53]:
print(len(num_4))

15

In [55]:
##dictionary
johns_profile = {
    'name':'john doe',
    'age':25,
    'city':'fct abuja'
}
print(johns_profile)

{'name': 'john doe', 'age': 25, 'city': 'fct abuja'}

In [57]:
johns_profile['relationship status']='single'
print(johns_profile)

{'name': 'john doe', 'age': 25, 'city': 'fct abuja', 'status': 'single', 'relationship status': 'single'}

In [58]:
print(johns_profile['relationship status'])

single

In [60]:
fruit_names = {
    'mango':8,
    'banana':6,
    'pineapple':11,
    'pear':4,
    'avocado':5
}
print(fruit_names)

{'mango': 8, 'banana': 6, 'pineapple': 11, 'pear': 4, 'avocado': 5}

In [64]:
##iterating a dictionary using ##zip() 
for food,num_6 in zip(fruit_names.keys(),fruit_names.values()):
    print(f'the {food} is {num_6}')

the mango is 8
the banana is 6
the pineapple is 11
the pear is 4
the avocado is 5

In [65]:
if 'pear' in fruit_names:
    print('exist')
else:
    print('does not exist')

exist

In [66]:
##dictionaries are not allowed to have duplicate keys because each key uniquely defines a value

In [67]:
fruit_names_2 = {
    'cherry':4,
    'apple':7
}
print(fruit_names_2)

{'cherry': 4, 'apple': 7}

In [68]:
fruit_names.update(fruit_names_2)
print(fruit_names)

{'mango': 8, 'banana': 6, 'pineapple': 11, 'pear': 4, 'avocado': 5, 'cherry': 4, 'apple': 7}

In [69]:
friends = {
    'chuks':{'age':29,'kids':3,'job':'banker'},
    'fred':{'age':30,'kids':2,'job':'lecturer'},
    'benji':{'age':24,'kids':4, 'job':'analyst'}
}
print(friends)

{'chuks': {'age': 29, 'kids': 3, 'job': 'banker'}, 'fred': {'age': 30, 'kids': 2, 'job': 'lecturer'}, 'benji': {'age': 24, 'kids': 4, 'job': 'analyst'}}

In [70]:
##accessing deep value in a nested disctionary
print(friends['fred']['kids'])

2

In [71]:
fruit_names.pop('apple')
print(fruit_names)

{'mango': 8, 'banana': 6, 'pineapple': 11, 'pear': 4, 'avocado': 5, 'cherry': 4}

In [72]:
##python keyerror is raised when accessing key that doesnt exist
print(fruit_names['almond'])

KeyError: 'almond'