In [ ]:
import pymysql

In [4]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'opeyemi'
)
cursor = mydb.cursor()

In [6]:
cursor.execute('show databases')
for x in cursor:
    print(x)

('earlycodeacademy',)
('earlycodeacademy2',)
('employee_system',)
('information_schema',)
('j_waec_system',)
('mysql',)
('performance_schema',)
('prime_academy',)
('sakila',)
('sys',)
('world',)

In [8]:
cursor.execute('create database prime_gym')

1

In [9]:
cursor.execute('show databases')
for x in cursor:
    print(x)

('earlycodeacademy',)
('earlycodeacademy2',)
('employee_system',)
('information_schema',)
('j_waec_system',)
('mysql',)
('performance_schema',)
('prime_academy',)
('prime_gym',)
('sakila',)
('sys',)
('world',)

In [ ]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'opeyemi',
    database = 'prime_gym'
)
cursor = mydb.cursor()

In [16]:
cursor.execute('create table Customer ( Customerid int primary key not null, name varchar(40) not null, emailaddress varchar(100) not null, phonenumber varchar(12) not null, gender varchar(7) not null, weight varchar(20) not null, height varchar(20) not null, subscribtion_plan varchar (20) null, startdate date null, expdate date not null)')

0

In [24]:
cursor.execute('alter  table customer modify column expdate date null')

KeyboardInterrupt

In [49]:
def registration():
    ID = int(input('ENTER CUSTOMER ID: '))
    NAME = input('ENTER CUSTOMER NAME:')
    EMAIL = input('ENTER EMAIL ADDRESS:')
    PHONE_NUMBER = input('ENTER YOUR PHONE NUMBER: ')
    GENDER = input('ENTER YOUR GENDER (MALE/FEMALE) : ')
    WEIGHT = input('ENTER YOUR CURRENT WEIGHT (in KG): ')
    HEIGHT = input('ENTER YOUR CURRENT HEIGHT (in meters): ')
    
    query = 'insert into customer (customerid,name, emailaddress, phonenumber, gender, weight, height) values(%s,%s,%s,%s,%s,%s,%s)'
    cursor.execute(query, (ID,NAME,EMAIL,PHONE_NUMBER,GENDER,WEIGHT,HEIGHT))
    mydb.commit()
    print('REGISTRATION COMPLETED')
    print('KINDLY CHECK OUR SUBSCRIPTION PLANS AND MAKE YOUR PREFERRED CHOICE')
    
def subscription():
    print('BRONZE - #10,000 FOR 2 WEEKS')
    print('SILVER - #18,000 FOR 1 MONTH')
    print('GOLD - #50,000 FOR 3 MONTHS')
    
    PAYMENT = input('CHOOSE YOUR PREFERRED PLAN: ')
    ID = int(input('ENTER CUSTOMER ID: '))
    if PAYMENT == 'BRONZE'.lower():
        query1 = 'update customer set subscribtion_plan = "BASIC" where customerid = %s'
        query2 = 'update customer set startdate = CURDATE() where customerid = %s'
        query3 = 'update customer set expdate = DATE_ADD(CURDATE(), INTERVAL 2 WEEK) where customerid = %s'
    elif PAYMENT == 'SILVER'.lower():
        query1 = 'update customer set subscribtion_plan = "SILVER" where customerid = %s'
        query2 = 'update customer set startdate = CURDATE() where customerid = %s'
        query3 = 'update customer set expdate = DATE_ADD(CURDATE(), INTERVAL 1 MONTH) where customerid = %s'
    elif PAYMENT == 'GOLD'.lower():
        query1 = 'update customer set subscribtion_plan = "GOLD" where customerid = %s'
        query2 = 'update customer set startdate = CURDATE() where customerid = %s'
        query3 = 'update customer set expdate = DATE_ADD(CURDATE(), INTERVAL 3 MONTH) where customerid = %s'
    
    cursor.execute(query1,(ID,))
    cursor.execute(query2,(ID,))
    cursor.execute(query3,(ID,))
    mydb.commit()
    print('YOUR SUBSCRIPTION WAS SUCCESSFULL')
    
def status():
    ID = int(input('TO CHECK STATUS, PLEASE ENTER YOUR ID: '))
    query = 'select customerid, name, subscribtion_plan, startdate,expdate from customer where customerid = %s'
    cursor.execute(query,(ID))
    RESULT = cursor.fetchall()
    if len(RESULT) == 0:
        print('ID does not exist.....')
        print('Kindly complete your registration......')
    else:
        for x in RESULT:
            print(x)
            
def unsubscribe():
    ID = int(input('KINDLY ENTER THE ID YOU WANT TO DELETE: '))
    query = 'delete from customer where customerid = %s'
    cursor.execute(query,(ID))
    mydb.commit()
    print('YOU HAVE SUCCESSFULLY UNSCUBSCRIBED FROM PRIME_GYM')
    

def main():
    print('...........WELCOME TO PRIME_GYM.......... ')
    print('OPERATION: REGISTRATION, SUBSCRIPTION, STATUS, UNSUBSCRIBE, LOGOUT')
    operation = True 
    while operation: 
        option = input('KINDLY SELECT OPERATION: ')
        if option == 'Registration'.lower():
            registration()
        elif option == 'Subscription'.lower():
            subscription()
        elif option == 'Status'.lower():
            status() 
        elif option == 'Unsubscribe'.lower():
            unsubscribe()
        elif option == 'Logout'.lower():
            operation == False
            print('YOU HAVE LOGGED OUT...')
        break

In [44]:
main()

...........WELCOME TO PRIME_GYM..........
OPERATION: REGISTRATION, SUBSCRIPTION, STATUS, UNSUBSCRIBE, LOGOUT
KINDLY SELECT OPERATION: subscription
BRONZE - #10,000 FOR 2 WEEKS
SILVER - #18,000 FOR 1 MONTH
GOLD - #50,000 FOR 3 MONTHS
CHOOSE YOUR PREFERRED PLAN: gold
ENTER CUSTOMER ID: 3
YOUR SUBSCRIPTION WAS SUCCESSFULL

In [45]:
main()

...........WELCOME TO PRIME_GYM..........
OPERATION: REGISTRATION, SUBSCRIPTION, STATUS, UNSUBSCRIBE, LOGOUT
KINDLY SELECT OPERATION: status
TO CHECK STATUS, PLEASE ENTER YOUR ID: 3
(3, 'olu kay', 'GOLD', datetime.date(2024, 2, 17), datetime.date(2024, 5, 17))

In [46]:
main()

...........WELCOME TO PRIME_GYM..........
OPERATION: REGISTRATION, SUBSCRIPTION, STATUS, UNSUBSCRIBE, LOGOUT
KINDLY SELECT OPERATION: registration
ENTER CUSTOMER ID: 1
ENTER CUSTOMER NAME:one piece
ENTER EMAIL ADDRESS:poee@gmail.com
ENTER YOUR PHONE NUMBER: 0902228811
ENTER YOUR GENDER (MALE/FEMALE) : male
ENTER YOUR CURRENT WEIGHT (in KG): 40
ENTER YOUR CURRENT HEIGHT (in meters): 1.2
REGISTRATION COMPLETED
KINDLY CHECK OUR SUBSCRIPTION PLANS AND MAKE YOUR PREFERRED CHOICE

In [47]:
main()

...........WELCOME TO PRIME_GYM..........
OPERATION: REGISTRATION, SUBSCRIPTION, STATUS, UNSUBSCRIBE, LOGOUT
KINDLY SELECT OPERATION: unsubscribe
KINDLY ENTER THE ID YOU WANT TO DELETE: 1
YOU HAVE SUCCESSFULLY UNSCUBSCRIBED FROM PRIME_GYM

In [48]:
main()

...........WELCOME TO PRIME_GYM..........
OPERATION: REGISTRATION, SUBSCRIPTION, STATUS, UNSUBSCRIBE, LOGOUT
KINDLY SELECT OPERATION: status
TO CHECK STATUS, PLEASE ENTER YOUR ID: 1
ID does not exist.....
Kindly complete your registration......